[submodule "3_Terzo Anno/AA 2023/1_Programmazione Logica e Funzionale (6 CFU)/progettoPLF"]
	path = 3_Terzo Anno/AA 2023/1_Programmazione Logica e Funzionale (6 CFU)/progettoPLF
	url = https://github.com/itsPinguiz/GiroDelCavallo-PLF
[submodule "3_Terzo Anno/AA 2023/1_Programmazione Logica e Funzionale (6 CFU)/Progetto[22]"]
	path = 3_Terzo Anno/AA 2023/1_Programmazione Logica e Funzionale (6 CFU)/Progetto[22]
	url = https://github.com/itsPinguiz/GiroDelCavallo-PLF
